.login-titulo {
    color: #2e3641;
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    font-weight: bold;
    margin: 0 auto !important
}

.login-titulo-alt {
    color: #f6df00;
    color: $logo-yellow;
}

.login-tela-container {
    background-color: white;
    border-radius: 4px;
}

.login-tela {
    background-color: var(--base-color);
}