// div.x-toolbar.x-tabbar
.x-toolbar.x-container.x-component.x-tabbar.x-noborder-trbl.x-dock-item.x-docked-bottom {
    overflow: hidden;
}

.app-main-tab .x-inner-el {
    padding: 0 !important;
}

 .x-tab .x-inner-el {
    padding: 20px 4px;
    border-radius: 0;
    background-color: white !important;
}


.x-tabbar .x-active-indicator-el {
    position: absolute;
    top: 0px;
    z-index: 2;
}

.x-tab.x-active .x-icon-el {
    color: #fff;
    color: var(--base-color) !important;
}

.x-tab.x-active .x-active-indicator-el {
    height: 6px ;
}

.x-active-indicator-el{
    border-radius: 4px;
    margin: 0 8px ;
    width: auto;
    margin-top: -3px;
}

.x-tab.x-active .x-active-indicator-el {
    background-color: var(--base-color);
    width: auto;
}

.x-tab .x-icon-el {
    width: 24px;
    height: 24px;
    color: silver;
}

.x-tab:hover .x-icon-el {
    color: silver;
}

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */ 
    .app-main-tab {
        margin-bottom: calc(constant(safe-area-inset-bottom) - 20px);
        margin-bottom: calc(env(safe-area-inset-bottom) - 20px);
    }

    
}

#ext-tabbar-1 {
    background-color:white;
}