.load-screen-animation {
    margin-left: -2px;
    position: fixed;
    margin-top: -35px;
}

.load-screen .load-line {
    background-color: $logo-yellow;
}

.load-done {
    color: white;
    border: solid 1px #43a047;
    background-color: #43a047;
    border-radius: 50%;
    font-size: 22px;
    padding: 6px;
    text-align: center;
    margin: 1px auto;
    position: initial;
    z-index: 1;
    margin-top: -35px;
}


.load-done-animate {
    animation: load-done-show 0.8s 0s forwards,
        // load-done-return 1s 2.5s forwards;
}

@keyframes load-done-show {
    100% {
        margin-top: 15px;
    }
}

// @keyframes load-done-return {
//     100% {
//         margin-top: 15px;
//         transform: scale(1.3);
//     }

//     100% {
//         margin-top: 5px;
//         transform: scale(1);
//     }
// }



.loading-bounce-done .load-line:nth-last-child(1){
    animation: loading-bounce-show-3 0.6s 0s forwards;
}

.loading-bounce-done .load-line:nth-last-child(2){
    animation: loading-bounce-show-2 0.7s 0s forwards;
}

.loading-bounce-done .load-line:nth-last-child(3){
    animation: loading-bounce-show-1 0.8s 0s forwards;
}


@keyframes loading-bounce-show-3 {
    100% {
        margin-top: 15px;
        opacity: 0;
        transform: translate(0, 20px);
    }
}
@keyframes loading-bounce-show-2 {
    100% {
        margin-top: 15px;
        opacity: 0;
        transform: translate(0, 20px);
    }
}
@keyframes loading-bounce-show-1 {
    100% {
        margin-top: 15px;
        opacity: 0;
        transform: translate(0, 20px);
    }
}