.obra-card {
    @extend .card;
}

.obra-card-header {
    display: grid;
    grid-template-areas:
      'id titulo titulo'
      'id checlists checlists'; 
      grid-template-columns: 40px auto;
      grid-gap: 5px;
}

.obra-card-titulo {
    grid-area: titulo;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.obra-card-identificacao {
    grid-area: id;
    text-align: center;
}

.obra-card-checklist {
    grid-area: checlists;
    display: grid;
    grid-template-columns: 33% auto 33%;
}

.obra-card-checklist-item {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: $texto-escuto;
}