/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);
$base-color: dynamic(#40416b);

//Custom
$vermelho: #F44336;
$verde: #4caf50;
$azul: #2196f3;
$amarelo: #FBC02D;
$texto-escuto: #232F34;
$logo-yellow:#ebb518;

:root {
    --azul: #{$azul};
    --vermelho: #{$vermelho};
    --verde: #{$verde};
    --amarelo: #{$amarelo};
    --texto-escuto: #{$texto-escuto};
    --logo-yellow: #{$logo-yellow};
    --tarefa-aberta:#FFC107;
    --tarefa-andamento:#2196f3;
    --tarefa-concluida:#4CAF50;
}

[tarefa-status=Aberta] {color:var(--tarefa-aberta)}
[tarefa-status=Andamento] {color:var(--tarefa-andamento)}
[tarefa-status=Concluida] {color:var(--tarefa-concluida)}

//--------------------------------------------------------
.tela-background {
    background-color: var(--alt-background-color);
}

.button-raised-white {
    background-color: white;
}

.divisor {
    background-color: var(--divider-color);
    height: 1px;
}

//--------------------------------------------------------

.x-shadow,
.x-floated {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
}

//--------------------------------------------------------

.card {
    background-color: #fafafa;
    border-radius: 4px;
    padding: 16px;
}

.card-titulo {
    font-weight: bolder;
    font-size: 21px;
}

.card-descricao {
    color: $texto-escuto;
    margin-top: 15px;
    font-size: 16px;
}

.card-no-image {
    background-color: whitesmoke !important;
}

.card-descricao-curta {
    color: $texto-escuto;
    margin-top: 15px;
    font-size: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

//--------------------------------------------------------

.load-line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

.load-animation-bounce .load-line:nth-last-child(1) {
    animation: loading-animation-bounce 0.6s 0.1s linear infinite;
}

.load-animation-bounce .load-line:nth-last-child(2) {
    animation: loading-animation-bounce 0.6s 0.2s linear infinite;
}

.load-animation-bounce .load-line:nth-last-child(3) {
    animation: loading-animation-bounce 0.6s 0.3s linear infinite;
}

.load-animation .load-line:nth-last-child(1) {
    animation: loading-animation 1.5s 1s infinite;
}

.load-animation .load-line:nth-last-child(2) {
    animation: loading-animation 1.5s 0.5s infinite;
}

.load-animation .load-line:nth-last-child(3) {
    animation: loading-animation 1.5s 0s infinite;
}

@keyframes loading-animation {
    0% {
        width: 15px;
        transform: translate(0, 0);
    }

    50% {
        width: 35px;
        transform: translate(0, 15px);
    }

    100% {
        width: 15px;
        transform: translate(0, 0);
    }
}


@keyframes loading-animation-bounce {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, 0);
    }
}

//--------------------------------------------------------

.barra-progresso {
    background-color: var(--base-light-color);
    width: 100%;
    height: 10px;
    border-radius: 6px;
    overflow: hidden;
}

.barra-progresso-valor {
    background-color: var(--base-color);
    height: 10px;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

//--------------------------------------------------------

.x-actionsheet-body-el {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

//--------------------------------------------------------

.button-small-icon::before {
    font-size: 16px !important;
}

.button-medium-icon::before {
    font-size: 18px !important;
}

//--------------------------------------------------------

.status-icon {
    font-size: 12px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    display: contents;
}

.status-icon:before {
    content: '\f111' !important;
}

.status-icon-aprovado {
    @extend .status-icon;
    color: $verde;
}

.status-icon-nao-aprovado {
    @extend .status-icon;
    color: $vermelho;
}

.status-icon-pendente {
    @extend .status-icon;
    color: $azul;
}


//----------------------------

.image-not-avaliable img {
    // border: 6px tomato solid;
    // border-radius: 5px;
}

.image-not-avaliable::after {
    content: 'Imagem não disponivel';
    text-align: center;
    display: flex;
    justify-content: center;
    color: gray;
    border-top: solid tomato 3px;
    margin-top: -4px;
    padding-top: 2px;
}