.card-notificacao {
    border-bottom: 1px solid gainsboro !important;
}

.stamp-notificacao {
    color: #909090;
}

.area-notificacao {
    display: table;
}

.nova-notificacao {
    background-color: #2196f3;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 4px 5px 0 0;
    float: left;
}