.checklist-group-header {
    padding: 10px 10px;
    background-color: transparent;
}

.checklist-group-header .x-component-accordion-body-el {
    // -webkit-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
    // box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
    @extend .x-shadow;
    border-radius: 4px;
}


.checklist-tela .x-panel-body-wrap-el .x-panel-accordion-body-wrap-el {
    border: solid 1px gainsboro;
    border-left: 0px !important;
    border-right: 0px !important;
}

.checklist-breadcrumb {
    background-color: var(--base-color);
    color: white;
    padding: 0 10px 5px 10px;
}

.checklist-button-icon-color::before {
    color: white;
}

.checklist-titulo-quantidade {
    color: #9E9E9E;
    font-size: 16px;
}

.checklist-tela .x-panel-accordion-body-el {
    @extend .tela-background;
}