.checklistDetail-tela {
    @extend .tela-background;
}

.checklist-conferencia {
    text-align: center;
    font-size: 22px;
    color: gainsboro;
}

.checklist-conferencia.ativo {
    color: $azul;
}

.checklist-detail-status {
    font-weight: bolder !important;
    font-size: 20px !important;
    font-family: Roboto, sans-serif !important;
}

.checklist-detail-titulo {
    padding: 0 ;
    padding-left: 16px;
    padding-top: 11px;
}

.checklist-detail-image {
    max-height: 250px;
    display: block;
    margin: 5px auto;
}

.checklist-detail-action-bar {
    margin: 0px 10px 0px !important;
    border-radius: 4px;
    height: 36px;
    position: absolute;
    width: -webkit-fill-available;
    bottom: 10px;
}