.filtro-titulo {
    font-weight: bolder;
    font-size: 18px;
    text-align: left !important;
    margin: 10px 0px 0px 45px !important;
}

.filtro-step {
    height: 36px;
    width: 36px;
    border: solid 3px #757575;
    color: transparent;
    border-radius: 50%;
    transition: 2s;
    margin-top: 5px;
    transform: scale(0.7);
}

.filtro-step .fa-check {
    font-size: 21px;
    margin-top: 6px;
    margin-left: 4px;
    display: none;
}

.filtro-step .fa-circle {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 9px;
    display: none;
}

.filtro-step.done {
    border-color: #388e3c;
    color: #388e3c;
}

.filtro-step.done .fa-check {
    display: inherit;
}

.filtro-step.actual {
    border-color: var(--base-color);
    color: var(--base-color);
    transform: scale(0.8);
}

.filtro-step.actual .fa-circle {
    display: inherit;
}