.tarefa-card-locais-andamento {
    display: grid;
    grid-template-areas:
        'aberta andamento concluida';
    grid-template-columns: 33% auto 33%;
    grid-gap: 5px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.tarefa-card-locais-andamento:nth-child(1) {
    grid-area: aberta;
}

.tarefa-card-locais-andamento:nth-child(2) {
    grid-area: andamento;
}

.tarefa-card-locais-andamento:nth-child(3) {
    grid-area: concluida;
}

.local-status-icon {
    display: block;
    margin: 6px 0;
    font-size: 12px;
}