.tarefa-card {
    @extend .card;
    margin: 10px 0px !important;
    padding: 0;
}

.tarefa-content {
    display: grid;
    grid-template-areas:
        'id data data'
        'icone nome nome'
        'icone-status obra obra'
        'porcentagem porcentagem porcentagem';
    grid-template-columns: 15px auto auto;
    width: 100%;
    column-gap: 5px;

    .tarefa-id {
        grid-area: id;
        font-size: 12px;
        line-height: 16px;
    }

    .tarefa-nome {
        grid-area: nome;
        margin: 5px 0 0 0;
    }

    .tarefa-icone {
        grid-area: icone;
        text-align: center;
        margin: 5px 0 0 0;
        line-height: 21px;
    }

    .tarefa-icone-status {
        grid-area: icone-status;
        font-size: 12px;
        text-align: center;
        margin: 5px 0;
    }

    .tarefa-obra {
        grid-area: obra;
        margin: 5px 0;
    }

    .tarefa-porcentagem {
        grid-area: porcentagem;
    }

    .tarefa-data {
        grid-area: data;
        text-align: right;
        font-size: 12px;
        line-height: 12px;
        color: var(--disabled-color);
    }
}

.tarefa-lista-segmented-button {
    font-size: 12px !important;
}