.tarefa-icon-descricao {
    width: 20px;
    text-align: center;
    margin-right: 5px;
}

.tarefa-item-descricao {
    border-top: 1px dashed #d1d1d1;
    margin-top: 8px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.fullscreen {
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }