.entrega-card {
    @extend .card;
    margin: 10px 0px !important;
    padding: 0;
}

.entrega-content {
    display: grid;
    grid-template-areas:
        'id nome icone'
        'data data data';
    grid-template-columns: fit-content(1000px) auto 20px;
    width: 100%;
    column-gap: 5px;

    .entrega-id {
        grid-area: id;
        font-size: 12px;
        line-height: 23px;
    }

    .entrega-nome {
        grid-area: nome;
    }

    .entrega-icone {
        grid-area: icone;
    }

    .entrega-data {
        grid-area: data;
        text-align: right;
        font-size: 12px;
        line-height: 12px;
        color: var(--disabled-color);
    }
}