.chat-list-card {
    margin: 0px !important;
    padding: 0;
     border-bottom: solid 1px var(--divider-color) !important;
    height: 72px;
    // border-bottom: solid 1px gainsboro !important;
}

.chat-list-content {
    display: grid;
    grid-template-areas:
        'picture title title time'
        'picture obra obra obra'
        'picture message message options'
        'divisor divisor divisor divisor';
    grid-template-columns: 2.6rem auto auto auto;
    width: 100%;
    column-gap: 5px;

    .chat-list-text-display {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
        overflow: hidden;
    }

    .chat-list-divisor {
        grid-area: divisor;
        border-bottom: solid 1px var(--divider-color) !important;
        background-color: white;
        position: absolute;
        left: 71px;
        bottom: 0;
        width: -webkit-fill-available;
        margin-right: 85px;
    }

    .chat-list-picture {
        grid-area: picture;
        background-color: var(--base-color);
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 19px;
        color: white;
        margin: auto;
    }

    .chat-list-obra {
        @extend .chat-list-text-display;
        grid-area: obra;
        font-size: 14px;
        line-height: 14px;
        margin-left: 5px;
    }

    .chat-list-title {
        @extend .chat-list-text-display;
        grid-area: title;
        font-size: 16px;
        line-height: 20px;
        margin-left: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .chat-list-message {
        @extend .chat-list-text-display;
        grid-area: message;
        margin-left: 5px;
    }

    .chat-list-time {
        grid-area: time;
        font-size: 12px;
        color: #9a9a9a;
        text-align: right;
        position: absolute;
        right: 5px;
        bottom: 0px;
    }

    .chat-list-options {
        grid-area: options;
    }
}

//Server


.chat-server-list-ui .x-body-el {
    background-color: #5c5d81;
} 

.chat-server-list-ui .x-listitem-inner-el{
    padding: 4px 8px !important;
}

.chat-server-ui {
    background-color: #b2b8df;
    border-radius: 50%;
    transition-duration: .25s;
    height: 42px;
    width: 42px;
}

.x-selected .chat-server-ui  {
    border-radius: 15px;
    background-color: #dfe3ff;
}

.chat-server-ui:after {
    content: '';
    border-radius: 5px;
    width: 10px;
    height: 0px;
    height: 10px;
    background-color: transparent;
    height: 10px;
    position: absolute;
    left: -6px;
    top: 22px;
    transition-duration: 0.2s;
}

.news.chat-server-ui:after {
    background-color: white;
}

.x-selected .chat-server-ui:after {
    background-color: white;
    height: 20px;
    top: 14px;
}

.x-selected .chat-server-ui:after {
    background-color: white;
    height: 30px;
    top: 10px;
}

.chat-server-ui-info {
    flex-direction: column;
    cursor: pointer;
    color: #393950;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: flex;
    vertical-align: middle;
    align-items: center;
    overflow: hidden;
    place-content: center;
    transition-duration: 0.2s;
    white-space: nowrap;
}

.x-selected .chat-server-ui .chat-server-ui-info {
    border-radius: 15px;
}

.chat-server-ui-short-name {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.chat-server-ui-id {
    font-size: 12px;
    font-weight: 600;
    line-height: 8px;
}

.chat-server-ui img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition-duration: 0.2s;
    object-fit: cover;
}

.x-selected .chat-server-ui img {
    border-radius: 15px;
}