.chat-body {
    background-image: url(https://i.ibb.co/Pxmb54S/bg-chat-tile-dark-9f39e76….png);
    background-color: #292f38;
    background-position: center;
    background-size: 120%;
    background-attachment: fixed;
}

.chat-card {
    margin: 0px !important;
    padding: 0;
    border-bottom: solid 1px var(--divider-color) !important;
}

.chat-awnser-card {
    padding: 5px 10px !important;
    border-left: 4px solid #6163a3;
    background: #c5cae9;
    border-top: rgba(64, 65, 107, 0.10) solid 1px;
}

.chat-awnser-card-user {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    overflow: hidden;
    font-weight: 600;
    font-size: 14px;
    display: block;
    margin-top: 4px;
    line-height: 12px;
}

.chat-awnser-card-text {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    overflow: hidden;
    font-size: 14px;
}

.chat-toolbar {
    background: var(--base-color);
    border-top: solid 1px var(--divider-color);
    padding: 5px 10px;
}

.chat-text-area {
    background-color: var(--faded-color);
    border-radius: 50px;
    border-bottom: none;
}

.chat-text-area .x-underline-el::before .chat-text-area .x-textfield.x-animate-underline .x-underline-el::before {
    transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    background-color: transparent;
    height: 0 !important;
}

.chat-text-area .x-textfield.x-focused .x-underline-el::before {
    height: 0 !important;
    background-color: transparent;
}

.chat-text-area .x-input-el {
    padding: 8px 15px !important;
}

.chat-toolbar-send-button>div {
    border-radius: 5px !important;
}

.chat-toolbar-record-button.x-pressing>div {
    background-color: var(--alert-color) !important;
}

.chat-toolbar-record-button>div {
    border-radius: 5px !important;
}

.chat-toolbar-media-button>div {
    border-radius: 5px !important;
    padding: 0px !important;
}

.chat-content {
    display: grid;
    grid-template-areas:
        'picture title title options'
        'picture message message message'
        'picture time time time';
    grid-template-columns: 3.2rem auto auto auto 2.4rem;
    width: 100%;
    column-gap: 5px;

    .chat-picture {
        grid-area: picture;
        background-color: var(--base-color);
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        color: white;
        margin: auto;
    }

    .chat-title {
        grid-area: title;
        font-size: 16px;
        line-height: 16px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .chat-message {
        grid-area: message;
        margin-left: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .chat-time {
        grid-area: time;
        font-size: 12px;
        color: #9a9a9a;
        text-align: right;
        position: absolute;
        bottom: 5px;
        right: 5px;
    }

    .chat-options {
        grid-area: options;
    }
}

.svg-chat-button .x-inner-el {
    padding: 0 !important;
}

.chat-message-recording-timer {
    font-size: 16px;
    font-weight: 600;
    color: #c5cae9;
}

.chat-message-recording-span {
    font-size: 16px;
    font-weight: 600;
    color: #c5cae9;
}

.chat-message-recording-text {
    display: flex;
    align-items: center;
    height: 100%;
}

.chat-message-recording {
    font-size: 20px;
    margin-right: 7px;
    color: var(--alert-color);
    animation: chat-message-recording-color 1s linear infinite;
}

@keyframes chat-message-recording-color {
    50% {
        opacity: 0;
    }
}

.chat-audio-preview {
    width: 100%;
    flex: 1 1 0%;
    background-color: #e1e1e1;
    height: 2px; 
    margin: 16px 0px 0px 0px;
}

.chat-audio-preview-line {
    background-color: #9fa8da;
    height: 2px; 
}

.chat-audio-preview-time {
    font-weight: 600;
    color: #6e6fac;
    margin: 7px 13px 0px 12px;
    font-size: 12px;
}