.chat-mensagem {
    display: block;
}

.chat-mensagem.owner {}

.chat-mensagem-user {
    font-size: 14px;
    font-weight: 600;
    display: block;
    line-height: 12px;
    margin-top: 4px;
    width: fit-content;
}

.chat-awnser-target {
    overflow: hidden;
    width: 45vw;
    // background: #50dfff;
    filter: opacity(0.35);
    height: 26px;
    float: right;
    margin-top: 2px;
}

.chat-mensagem.chat-mensagem-primeira .chat-awnser-target {
    margin-top: 10px;
}

.chat-mensagem.owner .chat-awnser-target {
    float: left;
}

.chat-mensagem-text {
    grid-area: area;
    word-break: break-all;
    overflow: hidden;
    width: fit-content;
}


.chat-mensagem-media {
    grid-area: area;
    word-break: break-all;
    overflow: hidden;
    width: fit-content;
    height: 50vw;
    width: 50vw;
    background-size: cover;
    border-radius: 5px;
    margin-left: -4px;    
    margin-right: -3px;
    box-shadow: inset 0px -15px 15px -7px rgab(0, 0, 0,0.7), inset 0px 15px 15px -9px rgba(0, 0, 0, 0.7);
}

.chat-mensagem-media img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 7px;
}

.chat-mensagem-horario {
    grid-area: time;
    font-size: 9px;
    margin-left: 5px;
    margin-bottom: -6px;
    width: 26px;
    display: -webkit-inline-box;
    float: right;
}

.chat-mensagem.chat-mensagem-primeira .chat-message-content {
    border-radius: 0 5px 5px 5px;
    margin-top: 10px;
}

.chat-mensagem.chat-mensagem-primeira .chat-message-content::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid #C5CAE9;
    border-top: 5px solid #C5CAE9;
    border-bottom: 5px solid transparent;
    left: -4px;
    top: 0px;
}

.chat-mensagem.chat-mensagem-primeira.owner .chat-message-content {
    border-radius: 5px 0 5px 5px;
    margin-top: 10px;
}

.chat-mensagem.chat-mensagem-primeira.owner .chat-message-content::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 5px solid #9FA8DA;
    border-right: 5px solid transparent;
    border-top: 5px solid #9FA8DA;
    border-bottom: 5px solid transparent;
    right: -4px;
    left: unset;
    top: 0px;
    z-index: -1;
}

.chat-mensagem.owner .chat-message-content {
    background-color: #9FA8DA;
    float: right;
    padding: 2px 6px;
    margin: 2px 10px 2px 0;
    position: absolute;
    float: right;
    left: unset;
    right: 0;
}

.chat-message-content {
    width: fit-content;
    border-radius: 5px;
    background-color: #C5CAE9;
    padding: 2px 6px;
    margin: 2px 0 2px 10px;
    word-break: break-word;
    max-width: 70vw;
    position: relative;
    float: left;
    z-index: 999;

    display: grid;
    grid-template-areas:
        'area time';
    grid-template-columns: auto 26px;
    column-gap: 5px;
    position: absolute;
    left: 0;
}

.chat-mensagem.chat-mensagem-primeira .chat-mensagem-audio {
    height: 58px;
}

.chat-mensagem-audio {
    grid-area: area;
    padding: 5px;
    height: 43px;
}

.chat-mensagem-button {
    font-size: 18px;
    line-height: 32px;
    color: var(--base-color)
}

.message-audio-line {
    width: 150px;
    max-width: 35vw;
    height: 1px;
    border-bottom: solid 2px #e1e1e1;
    border-radius: 73px;
    position: relative;
    bottom: 18px;
    left: 23px;
}

.message-audio-played {
    border-bottom: solid 2px #e1e1e1;
    border-bottom: solid 2px var(--base-color);
    width: 0%;
}

.message-audio-time {
    font-weight: 600;
    position: relative;
    font-size: 11px;
    bottom: 18px;
    left: 23px;
    color: var(--base-color);
}


.chat-mensagem-media-ctn .chat-message-content{
    grid-template-areas: 'area';
    grid-template-columns: auto;
}

.chat-mensagem-media-ctn .chat-mensagem-horario{    
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: white;
}

.chat-mensagem-media-ctn .chat-mensagem-user{
    margin-left: 5px;
    color: #c5cae9;
}