.entrega-calendario-sem-entregas div {
    background: #E0E0E0;
    color: black;
}

.entrega-calendario-entregas div {
    background: #2196f3;
    color: white;
}

.entrega-calendario-entregas-atrasadas div {
    background: #EF5350;
    color: white;
}

.entrega-calendario-entregas-concluidas div {
    background: #43A047;
    color: white;
}

.entrega-card-pedido {
    @extend .card;
    margin: 10px 0px !important;
    padding: 0;
}

.entrega-card-pedido-content {
    display: grid;
    grid-template-areas:
        'id status'
        'Fornecedor Fornecedor'
        'obra obra';
    grid-template-columns: auto auto;
    width: 100%;
    column-gap: 5px;

    .entrega-card-pedido-id {
        grid-area: id;
        font-size: 12px;
        line-height: 16px;
    }

    .entrega-card-pedido-status {
        grid-area: status;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .entrega-card-pedido-fornecedor {
        grid-area: Fornecedor !important;
        margin: 5px 0;
        font-size: 22px;
        font-weight: bold;
    }

    .entrega-card-pedido-obra {
        grid-area: obra;
        font-size: 12px;
        line-height: 16px;
    }
}

.agenda-entrega-button .x-inner-el {
    background-color: var(--base-pressed-color);
}