.galeria-display {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    grid-auto-rows: max-content;
}

.galeria-display-items {
    background-color: var(--faded-color);
    padding-top: 100%;
    border-radius: 5px;
    background-size: cover;
    cursor: pointer;
    max-height: 25%;
}

.galeria-display-file {    
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--faded-color);
    word-break: break-all;
    text-align: center;
    font-weight: bolder;
    color: var(--reverse-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-blend-mode: overlay;
    min-height: 160px;
    padding: 0 8px;
}