.galeria-imagem-view {
    background-color: #212121;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.close-button {
    position: fixed;
    top: 10px;
    right: 10px;
    color: white !important;
}
