.perfil-usuario-foto {
    background-color: gainsboro;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-image: URL('/resources/user-no-image.png');
    background-position: center;
    background-size: cover;
}

.perfil-nome {
    margin: 10px auto;
    font-weight: bold;
    font-size: 16px;
}

.perfil-email {
    margin: 10px auto;
    font-size: 16px;
}