.menu-title {
    font-weight: bolder;
    font-size: 22px;
    margin: 2px 15px;
    padding-bottom: 2px;
    border-bottom: solid 1px gainsboro;
}

.menu-item {
    font-size: 18px;
    padding: 8px 20px;
}

.menu-item:active {
    background-color: #e3e3ff;
}

.menu-usuario-foto {
    background-color: gainsboro;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px 0 10px 25px;
    background-image: URL('/resources/user-no-image.png');
    background-position: center;
    background-size: cover;
}

.menu-usuario-nome {
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 16px;
}

.menu-usuario-perfil {
    font-size: 14px;
    font-weight: normal;
}